@model TravelExperts_Web_App.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<!--
    Managing account index page

    author  - harry
-->
<h2>Account Management</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-danger">@ViewBag.ErrorMsg</p>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</h1>
        </div>
        <div class="panel-body">
            <!-- user name -->
            <div class="row">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2" })
                @Html.Label(Model.UserName, null, new { @class = "col-md-1 ", @id = "manageData" })
                @Html.ActionLink("[Edit]", "ChangeUserName", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- email -->
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
                @{
                    string email = Model.Email;
                }
                <label class="col-md-1" id="manageData">@email</label>
                @*@Html.Label(Model.Email, null, new { @class = "col-md-2 col-md-offset-1", @id = "manageData" }) DOESNT SHOW FULL EMAIL? JUST 'com'*@
                @Html.ActionLink("[Edit]", "ChangeEmail", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- home phone number (can be null)-->
            <div class="row">
                @Html.LabelFor(m => m.HomePhone, new { @class = "col-md-2" })
                @{
                    string phoneNumber = "";
                    if (!string.IsNullOrEmpty(Model.HomePhone))
                    {
                        phoneNumber = Model.HomePhone;
                    }
                }
                <label class="col-md-1" id="manageData">@phoneNumber</label>

                @Html.ActionLink("[Edit]", "ChangeHomePhone", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- business phone number -->
            <div class="row">
                @Html.LabelFor(m => m.BusPhone, new { @class = "col-md-2" })
                @Html.Label(Model.BusPhone, null, new { @class = "col-md-1", @id = "manageData" })
                @Html.ActionLink("[Edit]", "ChangeBusPhone", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- address -->
            <div class="row">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2" })
                @{
                    string address = Model.Address;
                }
                <label class="col-md-2" id="manageData">@address</label>

                @*@Html.Label(Model.Address, null, new { @class = "col-md-2" , style="display: inline-block;", @id = "manageData" }) CUTS OF TEXT? *@
            </div>

            <!-- city province -->
            <div class="row">
                <!-- create <city, prov, country> string-->
                @{
                    string cityProv = Model.City + ", " + Model.Prov;

                    if (!string.IsNullOrEmpty(Model.Country))
                    {
                        cityProv += ", " + Model.Country;
                    }
                }
                <label class="col-md-2 col-md-offset-2" id="manageData">@cityProv</label>
            </div>

            <!-- pstal code -->
            <div class="row">
                @Html.Label(Model.Postal, null, new { @class = "col-md-1 col-md-offset-2", @id = "manageData" })
                @Html.ActionLink("[Edit]", "ChangeAddress", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- password -->
            <div class="row">
                <label class="col-md-2">Password:</label>
                @Html.ActionLink("[Edit]", "ChangePassword", null, new { @class = "col-md-offset-2" })
            </div>
        </div> <!-- end div panel-body -->
    </div> <!-- end div panel -->
</div> <!-- end account management div container -->

<!-- customer packages section -->
<h2>Your Bookings</h2>

@{
// get customer bookings
 }

<div class="container">
    @{
        int curr = 0;
        // create a panel for each booking and display its info
        foreach (Booking booking in Model.Bookings)
        {
            <div class="panel panel-info col-md-6">
                <div class="panel-heading">
                    <h1 class="panel-title">Booking Number: @Html.Label(booking.BookingNo)</h1>
                </div>
                <div class="panel-body">
                    <!-- booking date -->
                    <div class="row">
                        <label class="col-md-6" id="bookingLabelFor">Booking Date</label>
                        <label class="col-md-6" id="manageData">@Html.DisplayFor(m => m.Bookings[curr].BookingDate)</label>
                        @{ curr++; }
                    </div>
                    <!-- traveler count -->
                    <div class="row">
                        <label class="col-md-6" id="bookingLabelFor">Traveler Count</label>
                        @Html.Label(booking.TravelerCount.ToString(), null, new {@class="col-md-6", @id = "manageData" })
                    </div>
                    <!-- trip type -->
                    <div class="row">
                        <label class="col-md-6" id="bookingLabelFor">Trip Type</label>
                        @{
                            switch (booking.TripTypeId)
                            {
                                case ("B"):
                                    <label class="col-md-6" id="manageData">Business</label>
                                    break;
                                case ("L"):
                                    <label class="col-md-6" id="manageData">Leisure</label>
                                    break;
                                case ("G"):
                                    <label id="col-md-6">Group</label>
                                    break;
                            }
                        }
                    </div>
                    <div class="row">
                        @Html.ActionLink("Details", "BookingDetails", new { bookingNo = booking.BookingNo }, new { @class="col-md-6" })
                    </div>
                </div>
            </div>
        }
     }
</div>

