@model TravelExperts_Web_App.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<!--
    Managing account index page

    author  - harry
-->
<h2>Account Management</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-danger">@ViewBag.ErrorMsg</p>
<div class="contatiner"> 
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">@Html.DisplayFor(m => m.FirstName)</h1>
        </div>
        <div class="panel-body">
            <!-- user name -->
            <div class="row">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-1" })
                @Html.Label(Model.UserName, null, new { @class = "col-md-1 col-md-offset-1", @id = "manageData" })
                @Html.ActionLink("[Edit]", "ChangeUserName", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- email -->
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-1" })
                @{
                    string email = Model.Email;
                }
                <label class="col-md-1 col-md-offset-1" id="manageData">@email</label>
                @*@Html.Label(Model.Email, null, new { @class = "col-md-2 col-md-offset-1", @id = "manageData" }) DOESNT SHOW FULL EMAIL? JUST 'com'*@ 
                @Html.ActionLink("[Edit]", "ChangeEmail", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- home phone number (can be null)-->
            <div class="row">
                @Html.LabelFor(m => m.HomePhone, new { @class = "col-md-1" })
                @{ 
                    string phoneNumber = "";
                    if (!string.IsNullOrEmpty(Model.HomePhone))
                    {
                        phoneNumber = Model.HomePhone;
                    }
                }
                <label class="col-md-1 col-md-offset-1" id="manageData">@phoneNumber</label>

                @Html.ActionLink("[Edit]", "ChangeHomePhone", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- business phone number -->
            <div class="row">
                @Html.LabelFor(m => m.BusPhone, new { @class = "col-md-1" })
                @Html.Label(Model.BusPhone, null, new { @class = "col-md-1 col-md-offset-1", @id = "manageData" })
                @Html.ActionLink("[Edit]", "ChangeHomePhone", null, new { @class = "col-md-offset-1" })
            </div>

            <!-- address -->
            <div class="row">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-1" })

                @Html.Label(Model.Address, null, new { @class = "col-md-2 col-md-offset-1", @id = "manageData" })
            </div>

            <!-- city province -->
            <div class="row">
                <!-- create <city, prov, country> string-->
                @{ 
                    string cityProv = Model.City + ", " + Model.Prov;

                    if (!string.IsNullOrEmpty(Model.Country))
                    {
                        cityProv += ", " + Model.Country;
                    }
                }
                <label class="col-md-2 col-md-offset-2" id="manageData">@cityProv</label>
            </div>

            <!-- pstal code -->
            <div class="row">
                @Html.Label(Model.Postal, null, new { @class = "col-md-1 col-md-offset-2", @id = "manageData"})
                @Html.ActionLink("[Edit]", "ChangeAddress", null, new { @class= "col-md-offset-1"})
            </div>

            <!-- password -->
            <div class="row">
                <label class="col-md-1">Password:</label>
                @Html.ActionLink("[Edit]", "ChangePassword", null, new { @class = "col-md-offset-3"})
            </div>
        </div> <!-- end div panel-body -->
    </div> <!-- end div panel -->
</div> <!-- end div container-->
@*
        <hr />
        <dl class="dl-horizontal">
            <!-- user name -->
            <dt>User Name:</dt>
            <dd>
                @Html.DisplayFor(m => m.UserName) @Html.ActionLink("[Change]", "ChangeUserName")
            </dd>

            <!-- email -->
            <dt>Email:</dt>
            <dd>
                @Html.DisplayFor(m => m.Email) | [@Html.ActionLink("Change", "ChangeEmail")]
            </dd>

            <!-- home phone number -->
            <dt>Home Number:</dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.HomePhone))
                    Html.DisplayFor(m => m.HomePhone) [Html.ActionLink("Change", "ChangeHomePhone")]
            </dd>

            <!-- business phone number -->
            <dt>Business  Number:</dt>
            <dd>
                @Html.DisplayFor(m => m.BusPhone) | [@Html.ActionLink("Change", "ChangeBusPhone")]
            </dd>

            <!-- address -->
            <dt>Address:</dt>
            <dd>
                @Html.DisplayFor(m => m.Address) | [@Html.ActionLink("Change", "ChangeAddress")]
            </dd>
            <dd>
                @Html.DisplayFor(m => m.City), @Html.DisplayFor(m => m.Prov)
            </dd>
            <dd>
                @if(!string.IsNullOrEmpty(Model.Country))
                    @Html.DisplayFor(m => m.Country)
            </dd>
            <dd>
                @Html.DisplayFor(m => m.Postal)
            </dd>

            <!-- password -->
            <dt>Password:</dt>
            <dd>
                [@Html.ActionLink("Change", "ChangePassword")]
            </dd>
        </dl>
    </div>*@

